{:kotoba.app/id "cloud.itonami.isic-9102", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreie2s45tcsgdtdtd6evnnpufggkezojhex55rhpyfxk5miq3fwjsnu", :kotoba.app/embed-url "ipfs://bafkreie2s45tcsgdtdtd6evnnpufggkezojhex55rhpyfxk5miq3fwjsnu", :published {:archive "https://kotobase.net/ipfs/bafkreie2s45tcsgdtdtd6evnnpufggkezojhex55rhpyfxk5miq3fwjsnu", :size 74728, :put-status 201, :get-status 200, :at "2026-08-15T13:35:08.062Z"}}
